/**
 * ===============================
 *  Defult CSS 
 * ===============================
 */
body {
  color: white;
  background-color: #00aded;
}
p {
  color: rgba(255, 255, 255, 0.65);
}
/**
 * ====================================
 *  Every Section Headline Defult Class
 * ====================================
 */
.sa-section-header .section-heading {
  color: rgba(255, 255, 255, 0.8);
}
.sa-section-header .position {
  color: rgba(255, 255, 255, 0.6);
}
.sa-section-header.with-sub-section-heading .sub-section-heading {
  color: rgba(255, 255, 255, 0.08);
}

/**
 * ===============================
 *   Defult Button Style
 * ===============================
 */
.btn {
  background-color: #d869c0;
}
.btn.btn-border {
  color: #F8626D !important;
  border-color: #F8626D !important;
}
.btn-text-link {
  color: #000000;
}
.btn-text-link a {
  color: #d869c0;
}
/**
 * ================================
 * Navbar Style 1
 * ================================
 */
.sa-header-nav-1 .navbar-nav li a {
  color: rgba(255, 255, 255, 0.7);
}
.sa-header-nav-1 .navbar-nav li a:after {
  background-color: #fff;
}
.sa-header-nav-1 .navbar-nav li a:hover {
  color: #fff !important;
}
.sa-header-nav-1 .navbar-nav li.active a {
  color: #fff !important;
}
.sa-header-nav-1 .navbar-nav li.active a:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sa-header-nav-1 .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.sa-header-nav-1.navbar-home {
  background-color: #00aded;
  box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
  -moz-box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
  -webkit-box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
  -o-box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
}
.sa-header-nav-1.navbar-home .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8);
}
/**
 * ==============================
 * Header 1 
 * ==============================
 */
.sa-header-1 {
  background-color: #00aded;
}
.sa-header-1 .right .name {
  color: white;
}
.sa-header-1 .right .name .color {
  color: white;
}
.sa-header-1 .right .sub-title {
  color: white;
}
.sa-sub-title-words span:after,
.sa-sub-title-words span:before {
  background: rgba(255, 255, 255, 0.85);
}
/** 
 * ===================
 * Header 2
 * ===================
 */
.sa-blog-header-1.sa-header-1-bg {
  background-color: green;
}
.sa-blog-header-1 .overlay-color {
  background: rgba(0, 173, 237, 0.2);
}
/** 
 * ===================
 * Header 2
 * ===================
 */
.sa-blog-header-2 {
  background-color: #2a2a2a;
}
/** 
 * ======================
 * Features 1
 * ======================
 */
.sa-features-1 {
  background-color: #222222;
}
.sa-features-1 .btn-form .btn:nth-child(1) {
  background-color: rgba(216, 105, 192, 0.9);
}
.sa-features-1 .btn-form .btn:nth-child(2) {
  background-color: rgba(0, 173, 237, 0.9);
}
/** 
 * ======================
 * Features 
 * ======================
 */
.sa-features {
  background-color: #2a2a2a;
}
/** 
 * ======================
 * Features 5
 * ======================
 */
.sa-features-5 {
  background-color: #222222;
}
.sa-features-5 .blog-top-image .fa {
  color: rgba(0, 0, 0, 0.9);
}
.sa-features-5 .blog-top-image img {
  background-color: #222222;
}
/** 
 * ======================
 * Features 6
 * ======================
 */
.sa-features-6 {
  background-color: #2a2a2a;
}
.sa-features-6 .sa-features-contant-1 .each-features .each-features-body .logo-with-title .title {
  color: rgba(255, 255, 255, 0.9);
}
.sa-features-6 .sa-features-contant-1 .each-features .each-features-body .logo-with-title .title:after {
  background-color: rgba(0, 0, 0, 0.6);
}
.sa-features-6 .sa-features-contant-1 .each-features .each-features-body .logo-with-title .detail {
  color: rgba(255, 255, 255, 0.75);
}
/** 
 * ======================
 * Features 7
 * ======================
 */
.sa-features-7 {
  background-color: #222222;
}
.sa-features-7 .sa-features-contant-1 .each-features .description-info .fa {
  color: rgba(255, 255, 255, 0.9);
}
/** 
 * ======================
 * Features 8
 * ======================
 */
.sa-features-8 {
  background-color: #2a2a2a;
}
/**
 * =====================================
 * Skill Precess Bar Style
 * =====================================
 */
.sa-skill-detail-1 .progress {
  background-color: rgba(216, 105, 192, 0.3);
}
.sa-skill-detail-1 .progress .progress-bar {
  background-color: #d869c0;
}
.sa-skill-detail-1 .progress .progress-bar .process-end {
  background: rgba(216, 105, 192, 0.5);
}
.sa-skill-detail-1 .progress .progress-bar .process-end:after {
  background-color: #d869c0;
}
/** 
 * ======================
 * Social Icon Style
 * ======================
 */
.sa-social-icon-1 li a {
  color: rgba(255, 255, 255, 0.9);
}
/** 
 * =========================
 * Features Contant Style
 * =========================
 */
.sa-features-contant-1 .each-features .each-features-body {
  background-color: #2a2a2a;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.sa-features-contant-1 .each-features .description-info .title {
  color: rgba(255, 255, 255, 0.9);
}
.sa-features-contant-1 .each-features .description-info .date {
  color: #ffffff;
}
.sa-features-contant-1 .each-features .description-info .sub-link {
  color: #ffffff;
}
.sa-features-contant-1 .each-features .description-info .btn {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.sa-features-contant-1.each-hover .each-features-body:hover {
  box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
}
.sa-features-contant-1.each-hover .each-features-body:hover .description-info .title,
.sa-features-contant-1.each-hover .each-features-body:hover .description-info .date,
.sa-features-contant-1.each-hover .each-features-body:hover .description-info .sub-link,
.sa-features-contant-1.each-hover .each-features-body:hover .description-info .fa {
  color: rgba(216, 105, 192, 0.9) !important;
}
.sa-features-contant-1.each-hover .each-features-body:hover .description-info .btn {
  background-color: rgba(216, 105, 192, 0.8) !important;
  color: #fff !important;
  border-color: rgba(216, 105, 192, 0.8);
}
/**
 * ==============================
 * Registation Form 1
 * ==============================
 */
.sa-registation-form-1 {
  background-color: #222222;
}
/**
 * ===========================
 * Form Defult Style 
 * ===========================
 */
.sa-form-custom-style .form-cus,
.sa-form-custom-style textarea {
  background-color: #222222;
  box-shadow: 0 0 0 0 #ffffff !important;
  -moz-box-shadow: 0 0 0 0 #ffffff !important;
  -webkit-box-shadow: 0 0 0 0 #ffffff !important;
  -o-box-shadow: 0 0 0 0 #ffffff !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
  color: rgba(255, 255, 255, 0.65);
}
.sa-form-custom-style .form-cus::-webkit-input-placeholder,
.sa-form-custom-style textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.45) !important;
}
.sa-form-custom-style .form-cus:-moz-placeholder,
.sa-form-custom-style textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.45) !important;
}
.sa-form-custom-style .form-cus::-moz-placeholder,
.sa-form-custom-style textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.45) !important;
}
.sa-form-custom-style .form-cus:-ms-input-placeholder,
.sa-form-custom-style textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.45) !important;
}

.hovv {
}

.hovv:hover {
    color: rgba(216, 105, 192, 0.8);
}

/**
 * ======================
 * Contact Address 1
 * ======================
 */
.sa-contact-address-1 .nav li strong,
.sa-contact-address-1 .nav li a {
  color: rgba(255, 255, 255, 0.7);
}
.sa-contact-address-1 .nav li strong {
  color: rgba(255, 255, 255, 0.85);
}
.sa-contact-address-1 .nav li a:hover {
  color: rgba(216, 105, 192, 0.8);
}
.sa-contact-address-1 .nav li .fa {
  background-color: #fff;
  color: #00aded;
}
/** 
 * ========================
 * Footer 1
 * ========================
 */
.sa-footer-1 {
  background-color: #2a2a2a;
}
/**
 * ===================================
 * Blog Post Body Style
 * ===================================
 */
.sa-blog-contant-1 {
  background-color: #2a2a2a;
}
.sa-blog-contant-1 .thumbnail {
  border-bottom-color: #fff;
}
.sa-blog-contant-1 .hover.each-blog:hover {
  box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
}
.sa-blog-contant-1 .single-post .teg li span {
  background-color: #00aded;
  color: #000000;
}
.sa-blog-contant-1 .single-post .teg li .dark {
  background-color: #d869c0;
}
.sa-blog-contant-1 .single-post .title {
  color: rgba(255, 255, 255, 0.8);
}
.sa-blog-contant-1 .single-post .title-link:hover .title {
  color: rgba(216, 105, 192, 0.9) !important;
}
.sa-blog-contant-1 .single-post .post-date {
  color: rgba(255, 255, 255, 0.6);
}
.sa-blog-contant-1 .left .each-blog .thumbnail {
  background-color: #2a2a2a;
}
.sa-blog-contant-1 .right .categories .thumbnail {
  background-color: #222222;
}
.sa-blog-contant-1 .right .categories .post-title {
  color: rgba(255, 255, 255, 0.8);
}
.sa-blog-contant-1 .pagination-nav .pagination a {
  background: rgba(0, 0, 0, 0.55);
  color: rgba(255, 255, 255, 0.75);
}
.sa-blog-contant-1 .pagination-nav .pagination a:hover {
  color: #d869c0;
}
.sa-blog-contant-1 .pagination-nav .pagination li.active a {
  background-color: #d869c0 !important;
}
/**
 * ===========================
 * Slider Custom Style 
 * ===========================
 */
.slider-bar .next,
.slider-bar .prev {
  border-color: #fff !important;
  background-color: rgba(255, 255, 255, 0.25);
  color: rgba(0, 0, 0, 0.75);
}
.slider-bar:hover .next,
.slider-bar:hover .prev {
  background-color: rgba(255, 255, 255, 0.45);
  color: rgba(0, 0, 0, 0.9);
}
/**
* =============================
*  Comment Section Syle
* =============================
*/
.sa-post-comment {
  background: #2a2a2a;
}
.sa-post-comment .media .media-body {
  color: rgba(255, 255, 255, 0.6);
}
.sa-post-comment .media .media-heading {
  color: rgba(255, 255, 255, 0.65);
}
.sa-post-comment .media .post-date {
  color: rgba(255, 255, 255, 0.5);
}
.sa-post-comment .media .reply {
  color: rgba(255, 255, 255, 0.6);
}
.sa-post-comment .media .reply:hover {
  color: #d869c0;
}
/**
* =============================
*  Comment option Style
* =============================
*/
.sa-comment-option a {
  color: rgba(255, 255, 255, 0.8);
}
/**
* =============================
*  Comment Form Style
* =============================
*/
.sa-comment-form .sa-form-custom-style .form-cus,
.sa-comment-form .sa-form-custom-style textarea {
  background-color: rgba(255, 255, 255, 0.11);
  border-color: #fff !important;
}
/**
* =============================
*  Search Form Style
* =============================
*/
.sa-search .sa-form-custom-style .input-group {
  border-color: rgba(255, 255, 255, 0.2);
}
.sa-search .sa-form-custom-style .form-cus,
.sa-search .sa-form-custom-style .btn {
  background-color: #222222;
}
.sa-search .sa-form-custom-style .btn {
  color: #ffffff;
}
.sa-search .sa-form-custom-style .btn:hover {
  color: #d869c0;
}
/**
* =============================
*  Recent Post Section Style
* =============================
*/
.sa-recent-post a {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}
.sa-recent-post a p {
  color: rgba(255, 255, 255, 0.8);
}
.sa-recent-post a span {
  color: rgba(255, 255, 255, 0.55);
}
.sa-recent-post a:hover p {
  color: #d869c0;
}
.sa-features-contant-2 .project-filter-loader .object {
  background-color: #00aded;
}
.sa-features-contant-2 .filter-button li .filter-project {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.35);
}
.sa-features-contant-2 .filter-button li .filter-project.is-checked {
  color: rgba(255, 255, 255, 0.7);
}
.sa-features-contant-2 .grid .grid-item figure figcaption {
  background: #2a2a2a;
  box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
  -moz-box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
  -webkit-box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
  -o-box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
}
.sa-features-contant-2 .grid .grid-item figure figcaption h3 {
  color: rgba(255, 255, 255, 0.55);
}
.sa-features-contant-2 .grid .grid-item figure figcaption a {
  background: #d869c0;
  color: #fff;
}
.sa-features-contant-2 .grid .grid-item figure:hover {
  box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
}
/**
 * ==========================
 * Project Full View
 * ==========================
 */
.sa-project-gallery-view .project-information {
  background-color: #222222;
}
.sa-project-gallery-view .project-information ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.sa-project-gallery-view .project-information ul li a {
  color: rgba(255, 255, 255, 0.55);
}
.sa-project-gallery-view .project-information ul li a:hover {
  color: #d869c0;
}
.sa-project-gallery-view .project-information ul li:last-child {
  border-bottom: 0px solid rgba(255, 255, 255, 0.12);
}
.sa-project-gallery-view .project-information:hover {
  box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
}
.sa-project-gallery-view .title {
  color: rgba(255, 255, 255, 0.9);
}
.sa-project-gallery-view .post-date {
  color: rgba(255, 255, 255, 0.6);
}
/**
 * ================================
 * Flex Slider NEXT and PREV Button
 * ================================
 */
.flex-direction-nav a::after,
.flex-direction-nav a::before {
  background: rgba(0, 0, 0, 0.95);
}
/**
 * ======================
 * PreLoader Color 
 * ======================
 */
.loading {
  background-color: #2a2a2a;
}
.loading-center-absolute .object {
  background-color: #d869c0;
}
/** 
 * ======================
 * Features 9
 * ======================
 */
.sa-features-9 {
  background-color: #2a2a2a;
}
.sa-features-9 .sa-features-contant-1 .each-features .description-info {
  background-color: #222222;
}
.sa-features-9 .sa-features-contant-1 .each-features .description-info .fa {
  color: rgba(255, 255, 255, 0.9);
}
.sa-features-9 .sa-features-contant-1 .each-features .description-info .title {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}
.sa-features-9 .sa-features-contant-1 .each-features .description-info .list-title {
  color: #ffffff;
}
.sa-features-9 .sa-features-contant-1 .each-features .description-info .list {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}
.sa-features-9 .sa-features-contant-1 .each-features .description-info .list li {
  color: #ffffff;
}
.sa-features-9 .sa-features-contant-1 .each-features .each-features-body:hover {
  border-color: #222222;
}
.sa-features-9 .sa-features-contant-1 .each-features .each-features-body:hover .price {
  color: rgba(216, 105, 192, 0.9);
}
/**
 * =========================
 * Features 10
 * =========================
 */
.sa-features-10 {
  background-color: #00aded;
}
.sa-features-10 .sa-section-header .section-heading {
  color: #fff;
}
.sa-features-10 .features-content-body .each-features .each-features-body .fa,
.sa-features-10 .features-content-body .each-features .each-features-body .title {
  color: #fff;
}
.sa-features-10 .features-content-body .each-features .each-features-body .title:before {
  background-color: #fff;
}
/**
 * =========================
 * Features 11
 * =========================
 */
.sa-features-11 {
  background-color: #2a2a2a;
}
.sa-features-11 .features-gallery .right .content-body {
  box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.35);
  background-color: #222222;
}
.sa-features-11 .features-gallery .right .content-body .title-icon {
  color: rgba(255, 255, 255, 0.3);
}
.sa-features-11 .features-gallery .right .content-body .title {
  color: rgba(255, 255, 255, 0.9);
}
.sa-features-11 .features-gallery .right .content-body .instragramFeed li a {
  background-color: #2a2a2a;
  border-color: rgba(255, 255, 255, 0.1);
}
.sa-features-11 .read-more {
  color: rgba(255, 255, 255, 0.85);
  display: block;
  margin-top: 20px;
}
.sa-features-11 .read-more .fa {
  color: rgba(255, 255, 255, 0.85);
}
.sa-features-11 .read-more:hover,
.sa-features-11 .read-more:hover .fa {
  color: #d869c0;
}
/**
 * =========================
 * Features 12
 * =========================
 */
.sa-features-12 {
  background-color: #222222;
}
.sa-features-12 .testimonial .item .item-content-body {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  background-color: #2a2a2a;
}
.sa-features-12 .testimonial .item .item-content-body:after {
  background-color: #2a2a2a;
  box-shadow: 2px 0px 0px -1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 0px 0px -1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 0px 0px -1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 2px 0px 0px -1px rgba(0, 0, 0, 0.05);
}
.sa-features-12 .testimonial .item .item-content-body .name {
  color: rgba(255, 255, 255, 0.7);
}
.sa-features-12 .testimonial .item .item-content-body .detail {
  color: rgba(255, 255, 255, 0.5);
}
.sa-features-12 .testimonial .owl-controls .owl-prev {
  background-color: #222222;
}
.sa-features-12 .testimonial .owl-controls .owl-prev .button-body,
.sa-features-12 .testimonial .owl-controls .owl-next .button-body {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  background-color: #2a2a2a;
}
.sa-features-12 .testimonial .owl-controls .owl-prev .button-body .fa,
.sa-features-12 .testimonial .owl-controls .owl-next .button-body .fa {
  color: rgba(255, 255, 255, 0.4);
}
.sa-features-12 .testimonial .owl-controls .owl-prev .button-body:hover .fa,
.sa-features-12 .testimonial .owl-controls .owl-next .button-body:hover .fa {
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 767px) {
  /**
     * ================================
     * Navbar Style 1
     * ================================
     */
  .sa-header-nav-1 .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.35);
  }
  .sa-header-nav-1.navbar-home .navbar-collapse {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  /**
     * ==============================
     * Header 1 
     * ==============================
     */
  /**
     * ===========================
     * Slider Custom Style 
     * ===========================
     */
  .slider-bar .next,
  .slider-bar .prev {
    background-color: rgba(255, 255, 255, 0.45) !important;
  }
  /**
     * =========================
     * Features 12
     * =========================
     */
  .sa-features-12 .testimonial .item {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
    background-color: #222222;
  }
  .sa-features-12 .testimonial .item .profile-pic {
    background-color: #222222;
  }
  .sa-features-12 .testimonial .item-content-body,
  .sa-features-12 .testimonial .profile-pic {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    -o-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  }
  /**
 * =========================
 * Features 10
 * =========================
 */
  .sa-features-10 .features-content-body .each-features {
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }
}
@media (max-width: 991px) {
  /**
     * =========================
     * Features 12
     * =========================
     */
  .sa-features-12 .testimonial .profile-pic {
    background-color: #222222;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  }
}
