@media (max-width: 767px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 40px !important;
    line-height: 55px !important;
  }
  /**
	 * ===============================
	 *   Defult Button Style
	 * ===============================
	 */
  .btn {
    margin: 15px 7.5px;
  }
  .btn:last-child {
    margin: 0px 7.5px !important;
  }
  .sa-display-full .left,
  .sa-display-full .right {
    display: block !important;
    float: none !important;
  }
  .sa-display-full .left img,
  .sa-display-full .right img {
    position: relative;
    display: inline-block;
  }
  .sa-display-full .right {
    text-align: center;
  }
  /**
	 * ================================
	 * Navbar Style 1
	 * ================================
	 */
  .sa-header-nav-1 .navbar-nav li a {
    padding: 10px 15px !important;
    margin: 0 !important;
  }
  .sa-header-nav-1 .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.35);
  }
  .sa-header-nav-1.navbar-home .navbar-collapse {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .sa-sub-title-words {
    display: block;
  }
  .sa-sub-title-words span {
    display: block;
    width: 100%;
    left: 0;
  }
  /**
	 * ==============================
	 * Header 1 
	 * ==============================
	 */
  .sa-header-1 .right {
    margin-top: -200px;
  }
  .sa-header-1 .right .right-body {
    margin: 0 -15px 0 -15px !important;
  }
  .sa-header-1 .left {
    margin-top: 0px;
  }
  .sa-header-1 .left img {
    height: 100%;
  }
  .sa-header-1 .header-contant {
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .sa-sub-title-words span {
    padding: 10px 0;
  }
  /**
	 * ===================
	 * Features section 8
	 * ===================
	 */
  .sa-features-contant-2 .filter-button li {
    margin-bottom: 15px;
  }
  /** 
	 * ===================
	 * Header 2
	 * ===================
	 */
  .sa-blog-header-2 {
    height: 51px;
  }
  /**
	 * ====================================
	 *  Every Section Headline Defult Class
	 * ====================================
	 */
  .sa-section-header {
    text-align: center !important;
  }
  .sa-section-header .section-heading,
  .sa-section-header .position {
    text-align: center !important;
    left: 0 !important;
  }
  .sa-section-header .sub-section-heading {
    left: 50% !important;
    margin-left: -73px !important;
  }
  /**
	 * ================================
	 * Navbar Style 
	 * ================================
	 */
  .sa-header-nav-1 .navbar-collapse {
    text-align: center;
  }
  .sa-header-nav-1 .navbar-collapse .navbar-nav {
    display: inline-block;
  }
  .sa-header-nav-1 .navbar-collapse .navbar-nav li {
    float: left;
  }
  /** 
	 * ======================
	 * Features 1
	 * ======================
	 */
  .sa-features-1 .sa-social-icon-1 {
    text-align: center;
    display: inline-block;
  }
  .sa-features-1 img {
    margin-top: 20px;
  }
  /**
	 * ======================
	 * Contact Address 1
	 * ======================
	 */
  .sa-contact-address-1 .nav li {
    width: 100% !important;
    float: none !important;
  }
  /**
	* =============================
	*  Comment Section Syle
	* =============================
	*/
  .sa-post-comment {
    padding: 20px 5px;
  }
  .sa-post-comment .media .pull-left {
    margin-right: 0px !important;
  }
  .sa-post-comment .media .media-heading {
    float: none !important;
  }
  /**
	 * ===================================
	 * Blog Post Body Style
	 * ===================================
	 */
  .sa-blog-contant-1 .single-post .title {
    font-size: 23px;
  }
  /**
	 * ===========================
	 * Slider Custom Style 
	 * ===========================
	 */
  .slider-bar .next,
  .slider-bar .prev {
    width: 45px;
    height: 45px;
  }
  /**
	 * =========================
	 * Features 11
	 * =========================
	 */
  .sa-features-11 .sa-section-separator {
    padding-bottom: 50px;
  }
  .sa-features-11 .features-gallery .left img {
    position: relative;
    width: 100%;
  }
  .sa-features-11 .features-gallery .right .content-body {
    margin: 0px;
    padding: 15px;
  }
  .sa-features-11 .features-gallery .right .content-body.top-left,
  .sa-features-11 .features-gallery .right .content-body.top-right {
    right: 0px !important;
    left: 0px !important;
    top: -50px;
  }
  .sa-features-11 .features-gallery .right .content-body .instragramFeed {
    margin-top: 30px;
  }
  .sa-features-11 .features-gallery .right .content-body .instragramFeed li a {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  .sa-features-11 .features-gallery .right .content-body .instragramFeed li:last-child a {
    margin-right: 0px;
  }
  /**
	 * =========================
	 * Features 10
	 * =========================
	 */
  .sa-features-10 .features-content-body .each-features {
    border-right: 0px solid;
    border-bottom: 1px solid;
    padding: 25px 20px;
  }
  .sa-features-10 .features-content-body .each-features:last-child {
    border-right: 0px solid;
    border-bottom: 0px solid;
    padding: 25px 20px 0 20px;
  }
  /**
	 * =========================
	 * Features 12
	 * =========================
	 */
  .sa-features-12 .testimonial .item {
    width: 100% !important;
  }
  .sa-features-12 .testimonial .item .profile-pic {
    position: relative;
    width: 150px;
    height: 150px;
    left: 50%;
    margin-left: -75px;
    overflow: hidden;
  }
  .sa-features-12 .testimonial .owl-wrapper {
    margin: 5px 0 !important;
  }
  .sa-features-12 .testimonial .owl-controls {
    position: relative;
    width: 100% !important;
  }
  .sa-features-12 .testimonial .owl-controls .owl-buttons {
    height: 50px;
    padding: 0;
  }
  .sa-features-12 .testimonial .owl-controls .owl-prev,
  .sa-features-12 .testimonial .owl-controls .owl-next {
    padding-right: 5px;
  }
  .sa-features-12 .testimonial .owl-controls .owl-prev:last-child,
  .sa-features-12 .testimonial .owl-controls .owl-next:last-child {
    padding-right: 0px;
  }
  .sa-features-12 .testimonial .owl-controls .owl-prev .button-body .fa,
  .sa-features-12 .testimonial .owl-controls .owl-next .button-body .fa {
    font-size: 35px;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 45px;
  }
  /**
	 * ==============================
	 * Header 1 
	 * ==============================
	 */
  .sa-header-1 .right .sub-title {
    margin: 20px 0 80px 0;
  }
  .sa-header-1 .left img {
    width: 95%;
  }
  .sa-header-1 .header-contant {
    margin-bottom: 100px;
    margin-top: 150px;
  }
  .sa-header-1 .image-group .img-absolute-1 {
    position: absolute;
    bottom: 0px !important;
    right: 28px !important;
  }
  .sa-header-1 .image-group .img-absolute-2 {
    position: absolute;
    bottom: 60px;
    right: 21px !important;
  }
  .sa-sub-title-words span {
    padding: 10px 0;
  }
  /** 
	 * ======================
	 * Features 1
	 * ======================
	 */
  .sa-features-1 .right img {
    width: 100%;
  }
  /**
	 * =====================================
	 * Features 3
	 * =====================================
	 */
  .sa-features-3 .each-features-body {
    padding: 10px 20px 15px 20px;
  }
  /** 
	 * =========================
	 * Features Contant Style
	 * =========================
	 */
  .sa-features-contant-1 .each-features {
    margin-bottom: 30px;
  }
  /**
	 * ======================
	 * Contact Address 1
	 * ======================
	 */
  .sa-contact-address-1 {
    margin: 60px 0 0 0;
  }
  .sa-contact-address-1 .nav {
    padding: 0 !important;
    text-align: center;
  }
  .sa-contact-address-1 .nav li {
    width: 33.3333%;
    float: left;
  }
  .sa-contact-address-1 .nav li .fa {
    float: none !important;
    display: block;
    position: relative;
    text-align: center;
    margin-left: -17px;
    margin-bottom: 5px;
    margin-top: 0;
    top: 0;
    left: 50%;
  }
  /**
	* =============================
	*  Comment Form Style
	* =============================
	*/
  .sa-comment-form .sa-form-custom-style .col-md-12 .col-md-6:nth-child(1n),
  .sa-comment-form .sa-form-custom-style .col-md-12 .col-md-6:nth-child(2n) {
    padding-left: 0;
    padding-right: 0;
  }
  /**
	 * =========================
	 * Features 12
	 * =========================
	 */
  .sa-features-12 .testimonial .item {
    width: calc(100% - 100px);
    width: -o-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: expression(100% - 100px);
  }
  .sa-features-12 .testimonial .item .item-content-body {
    padding: 40px 40px;
  }
  .sa-features-12 .testimonial .item .item-content-body:after {
    content: initial;
  }
  .sa-features-12 .testimonial .item .profile-pic {
    width: 150px;
    height: 150px;
    top: 50%;
    margin-top: -75px;
    overflow: hidden;
  }
  .sa-features-12 .testimonial .item .profile-pic img {
    width: 100%;
    height: auto;
  }
  .sa-features-12 .testimonial .owl-wrapper {
    margin: 20px 0;
  }
  .sa-features-12 .testimonial .owl-controls {
    width: 100px;
  }
  .sa-features-12 .testimonial .owl-controls .owl-prev,
  .sa-features-12 .testimonial .owl-controls .owl-next {
    padding-right: 5px;
  }
  .sa-features-12 .testimonial .owl-controls .owl-prev .button-body .fa,
  .sa-features-12 .testimonial .owl-controls .owl-next .button-body .fa {
    font-size: 35px;
  }
}
